name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install Bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: 1.2.6

    - name: Install dependencies
      run: bun i

    - name: Install Playwright Browsers
      run: bunx playwright install --with-deps

    - name: Run Playwright tests
      run: |
          bunx playwright test --project=chromium
          bunx playwright test --project=webkit
          # workaround: because mobile on ci is not working

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
